<nav class="nav navbar-form">
</nav>


<div class="feature_box">
  <h1 class="promo_header1">Real Life</h1>
  <h3 class="promo_header3">Become Your Virtual Pet</h3>
  <div class='buttons'
  <p><%= link_to "Join", new_user_registration_path, :class => 'home_nav_button' %>
    <%= link_to "Log In", new_user_session_path, :class => 'home_nav_button' %></p></div>
</div>
<div class="feature_box">
  <h2 class="promo_header2">Choose Your Avatar</h2>
  <div id="promo_avatar">
    <%= image_tag('avatar2_closeup.jpeg') %>
    <%= image_tag('avatar4.jpeg') %>
    <%= image_tag('avatar3_laugh.jpeg') %>
  </div>
</div>
<div class="feature_box">
</div>
<div class="feature_box">
</div>
<div class="feature_box">
</div>



